@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 8)); /* Adjust the number '8' based on the number of images */
    }
  }
  
  .animate-scroll {
    animation: scroll 30s linear infinite;
  }
